<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<w:settings xmlns:o="urn:schemas-microsoft-com:office:office"
            xmlns:m="http://schemas.openxmlformats.org/officeDocument/2006/math" xmlns:v="urn:schemas-microsoft-com:vml"
            xmlns:w="http://schemas.openxmlformats.org/wordprocessingml/2006/main">
    <w:zoom w:percent="120"/>
    <w:defaultTabStop w:val="708"/>
    <w:drawingGridHorizontalSpacing w:val="110"/>
    <w:displayHorizontalDrawingGridEvery w:val="2"/>
    <w:characterSpacingControl w:val="doNotCompress"/>
    <w:hdrShapeDefaults>
        <o:shapedefaults v:ext="edit" spidmax="15362"/>
        <o:shapelayout v:ext="edit">
            <o:idmap v:ext="edit" data="4"/>
        </o:shapelayout>
    </w:hdrShapeDefaults>
    <w:footnotePr>
        <w:footnote w:id="-1"/>
        <w:footnote w:id="0"/>
    </w:footnotePr>
    <w:endnotePr>
        <w:endnote w:id="-1"/>
        <w:endnote w:id="0"/>
    </w:endnotePr>
    <w:compat/>
    <w:rsids>
        <w:rsidRoot w:val="00CC4BB2"/>
        <w:rsid w:val="00001E15"/>
        <w:rsid w:val="000141EA"/>
        <w:rsid w:val="00020047"/>
        <w:rsid w:val="00030272"/>
        <w:rsid w:val="0003113B"/>
        <w:rsid w:val="000443FF"/>
        <w:rsid w:val="000613CB"/>
        <w:rsid w:val="00061CDA"/>
        <w:rsid w:val="00066E03"/>
        <w:rsid w:val="0007772D"/>
        <w:rsid w:val="000824F8"/>
        <w:rsid w:val="000A6EFD"/>
        <w:rsid w:val="000B00F2"/>
        <w:rsid w:val="000C3E3C"/>
        <w:rsid w:val="000C4E77"/>
        <w:rsid w:val="000F5366"/>
        <w:rsid w:val="001000DA"/>
        <w:rsid w:val="001102A8"/>
        <w:rsid w:val="00112FF0"/>
        <w:rsid w:val="00134CAB"/>
        <w:rsid w:val="0014486D"/>
        <w:rsid w:val="001451BA"/>
        <w:rsid w:val="001500ED"/>
        <w:rsid w:val="001552E0"/>
        <w:rsid w:val="00164DB2"/>
        <w:rsid w:val="00192446"/>
        <w:rsid w:val="001A0684"/>
        <w:rsid w:val="001A6CBC"/>
        <w:rsid w:val="001C3F23"/>
        <w:rsid w:val="001C43DC"/>
        <w:rsid w:val="001C6B03"/>
        <w:rsid w:val="001D105D"/>
        <w:rsid w:val="00201444"/>
        <w:rsid w:val="0020164A"/>
        <w:rsid w:val="00212306"/>
        <w:rsid w:val="00212309"/>
        <w:rsid w:val="002146E8"/>
        <w:rsid w:val="00215549"/>
        <w:rsid w:val="002407FA"/>
        <w:rsid w:val="002607E1"/>
        <w:rsid w:val="00266B64"/>
        <w:rsid w:val="00283CB1"/>
        <w:rsid w:val="00285297"/>
        <w:rsid w:val="002951A1"/>
        <w:rsid w:val="002A42C8"/>
        <w:rsid w:val="002C1682"/>
        <w:rsid w:val="002C250D"/>
        <w:rsid w:val="002D5923"/>
        <w:rsid w:val="002F6CB9"/>
        <w:rsid w:val="00301A17"/>
        <w:rsid w:val="003123FB"/>
        <w:rsid w:val="003160F6"/>
        <w:rsid w:val="00320DE8"/>
        <w:rsid w:val="003226CC"/>
        <w:rsid w:val="003271CB"/>
        <w:rsid w:val="00347B04"/>
        <w:rsid w:val="00352D79"/>
        <w:rsid w:val="0036064A"/>
        <w:rsid w:val="00375817"/>
        <w:rsid w:val="00394D34"/>
        <w:rsid w:val="0039564B"/>
        <w:rsid w:val="003A302F"/>
        <w:rsid w:val="003A4ED1"/>
        <w:rsid w:val="003B6537"/>
        <w:rsid w:val="003C4546"/>
        <w:rsid w:val="003D29A9"/>
        <w:rsid w:val="003D58DD"/>
        <w:rsid w:val="003E167A"/>
        <w:rsid w:val="003E5DF3"/>
        <w:rsid w:val="003F7EF8"/>
        <w:rsid w:val="004004B0"/>
        <w:rsid w:val="00403710"/>
        <w:rsid w:val="00406DDB"/>
        <w:rsid w:val="00411311"/>
        <w:rsid w:val="0041568D"/>
        <w:rsid w:val="00420E1E"/>
        <w:rsid w:val="00422A81"/>
        <w:rsid w:val="00445C0A"/>
        <w:rsid w:val="00450468"/>
        <w:rsid w:val="0045312B"/>
        <w:rsid w:val="00490F28"/>
        <w:rsid w:val="004C0FAD"/>
        <w:rsid w:val="004C197A"/>
        <w:rsid w:val="004C23D5"/>
        <w:rsid w:val="004C6EAF"/>
        <w:rsid w:val="004D14D6"/>
        <w:rsid w:val="004D1A05"/>
        <w:rsid w:val="004D3688"/>
        <w:rsid w:val="004D3F73"/>
        <w:rsid w:val="004E2E7B"/>
        <w:rsid w:val="004F2BAD"/>
        <w:rsid w:val="00535671"/>
        <w:rsid w:val="00542F34"/>
        <w:rsid w:val="00557539"/>
        <w:rsid w:val="00574423"/>
        <w:rsid w:val="00574C8A"/>
        <w:rsid w:val="005918D4"/>
        <w:rsid w:val="00591F67"/>
        <w:rsid w:val="005A7ACC"/>
        <w:rsid w:val="005E5B01"/>
        <w:rsid w:val="005F3457"/>
        <w:rsid w:val="005F68FC"/>
        <w:rsid w:val="00610BCB"/>
        <w:rsid w:val="00612032"/>
        <w:rsid w:val="006217DF"/>
        <w:rsid w:val="0062205D"/>
        <w:rsid w:val="006568CA"/>
        <w:rsid w:val="00665480"/>
        <w:rsid w:val="00671F8D"/>
        <w:rsid w:val="0067624C"/>
        <w:rsid w:val="00683AD7"/>
        <w:rsid w:val="006A6409"/>
        <w:rsid w:val="006A6F5B"/>
        <w:rsid w:val="006C300F"/>
        <w:rsid w:val="006D2DC5"/>
        <w:rsid w:val="006D48F5"/>
        <w:rsid w:val="006D7662"/>
        <w:rsid w:val="006F5ED8"/>
        <w:rsid w:val="00720549"/>
        <w:rsid w:val="00723B64"/>
        <w:rsid w:val="00743808"/>
        <w:rsid w:val="00744737"/>
        <w:rsid w:val="00746F39"/>
        <w:rsid w:val="00750240"/>
        <w:rsid w:val="00772389"/>
        <w:rsid w:val="00781E94"/>
        <w:rsid w:val="007857F7"/>
        <w:rsid w:val="00785E00"/>
        <w:rsid w:val="00795166"/>
        <w:rsid w:val="007972B2"/>
        <w:rsid w:val="007B04C1"/>
        <w:rsid w:val="007B0597"/>
        <w:rsid w:val="007B677E"/>
        <w:rsid w:val="007D7B98"/>
        <w:rsid w:val="007E5353"/>
        <w:rsid w:val="007E75E1"/>
        <w:rsid w:val="00801B10"/>
        <w:rsid w:val="008147EE"/>
        <w:rsid w:val="00836708"/>
        <w:rsid w:val="008450CA"/>
        <w:rsid w:val="00845E4A"/>
        <w:rsid w:val="0085347E"/>
        <w:rsid w:val="00863199"/>
        <w:rsid w:val="008664DE"/>
        <w:rsid w:val="00867990"/>
        <w:rsid w:val="00873036"/>
        <w:rsid w:val="0087581F"/>
        <w:rsid w:val="008A6F07"/>
        <w:rsid w:val="008C6E7D"/>
        <w:rsid w:val="008E7C59"/>
        <w:rsid w:val="008F67C4"/>
        <w:rsid w:val="00900AAF"/>
        <w:rsid w:val="00900CD2"/>
        <w:rsid w:val="00905F3A"/>
        <w:rsid w:val="00930918"/>
        <w:rsid w:val="0095314C"/>
        <w:rsid w:val="009613FA"/>
        <w:rsid w:val="009626B2"/>
        <w:rsid w:val="00983A07"/>
        <w:rsid w:val="009B3B7A"/>
        <w:rsid w:val="009C2033"/>
        <w:rsid w:val="009C4A3F"/>
        <w:rsid w:val="009D2B5E"/>
        <w:rsid w:val="009E131D"/>
        <w:rsid w:val="009F5810"/>
        <w:rsid w:val="00A246B3"/>
        <w:rsid w:val="00A451F6"/>
        <w:rsid w:val="00A529D1"/>
        <w:rsid w:val="00A56993"/>
        <w:rsid w:val="00A6005C"/>
        <w:rsid w:val="00A66553"/>
        <w:rsid w:val="00A66A2E"/>
        <w:rsid w:val="00A84E60"/>
        <w:rsid w:val="00A979DF"/>
        <w:rsid w:val="00A97AA3"/>
        <w:rsid w:val="00AA2B37"/>
        <w:rsid w:val="00AB4BA2"/>
        <w:rsid w:val="00AB6661"/>
        <w:rsid w:val="00AD375E"/>
        <w:rsid w:val="00AD5269"/>
        <w:rsid w:val="00AD6516"/>
        <w:rsid w:val="00AE1A3A"/>
        <w:rsid w:val="00AF0184"/>
        <w:rsid w:val="00B07717"/>
        <w:rsid w:val="00B15316"/>
        <w:rsid w:val="00B34311"/>
        <w:rsid w:val="00B63039"/>
        <w:rsid w:val="00B81F1B"/>
        <w:rsid w:val="00B92C6D"/>
        <w:rsid w:val="00BA144E"/>
        <w:rsid w:val="00BA1F1D"/>
        <w:rsid w:val="00BD4A30"/>
        <w:rsid w:val="00BE43C0"/>
        <w:rsid w:val="00C168F3"/>
        <w:rsid w:val="00C378AB"/>
        <w:rsid w:val="00C432FC"/>
        <w:rsid w:val="00C63261"/>
        <w:rsid w:val="00C645A9"/>
        <w:rsid w:val="00C65713"/>
        <w:rsid w:val="00C65F7B"/>
        <w:rsid w:val="00C67BFA"/>
        <w:rsid w:val="00C7784F"/>
        <w:rsid w:val="00C82A63"/>
        <w:rsid w:val="00C85AF4"/>
        <w:rsid w:val="00C92173"/>
        <w:rsid w:val="00CA2990"/>
        <w:rsid w:val="00CB292C"/>
        <w:rsid w:val="00CB4533"/>
        <w:rsid w:val="00CC4BB2"/>
        <w:rsid w:val="00CD15AB"/>
        <w:rsid w:val="00CE2F5F"/>
        <w:rsid w:val="00CF7916"/>
        <w:rsid w:val="00D0361B"/>
        <w:rsid w:val="00D07D10"/>
        <w:rsid w:val="00D2112C"/>
        <w:rsid w:val="00D2240F"/>
        <w:rsid w:val="00D34782"/>
        <w:rsid w:val="00D349FD"/>
        <w:rsid w:val="00D533DA"/>
        <w:rsid w:val="00D6425C"/>
        <w:rsid w:val="00D67474"/>
        <w:rsid w:val="00D710B2"/>
        <w:rsid w:val="00DA67DF"/>
        <w:rsid w:val="00DB02EA"/>
        <w:rsid w:val="00DB5554"/>
        <w:rsid w:val="00DC28A3"/>
        <w:rsid w:val="00DC6608"/>
        <w:rsid w:val="00DF6C94"/>
        <w:rsid w:val="00E06CEB"/>
        <w:rsid w:val="00E225EA"/>
        <w:rsid w:val="00E22E06"/>
        <w:rsid w:val="00E25FA6"/>
        <w:rsid w:val="00E327CC"/>
        <w:rsid w:val="00E37EF8"/>
        <w:rsid w:val="00E515A4"/>
        <w:rsid w:val="00E53948"/>
        <w:rsid w:val="00E6337A"/>
        <w:rsid w:val="00E67672"/>
        <w:rsid w:val="00E7359F"/>
        <w:rsid w:val="00E739C8"/>
        <w:rsid w:val="00E84224"/>
        <w:rsid w:val="00E92910"/>
        <w:rsid w:val="00E93EEC"/>
        <w:rsid w:val="00E945EC"/>
        <w:rsid w:val="00E948DF"/>
        <w:rsid w:val="00EB0104"/>
        <w:rsid w:val="00EB091C"/>
        <w:rsid w:val="00EB0AE7"/>
        <w:rsid w:val="00EB45C3"/>
        <w:rsid w:val="00ED5113"/>
        <w:rsid w:val="00ED7F29"/>
        <w:rsid w:val="00EE250E"/>
        <w:rsid w:val="00EE2E27"/>
        <w:rsid w:val="00EE4166"/>
        <w:rsid w:val="00EE6257"/>
        <w:rsid w:val="00EF7AE5"/>
        <w:rsid w:val="00F0786F"/>
        <w:rsid w:val="00F12608"/>
        <w:rsid w:val="00F32C30"/>
        <w:rsid w:val="00F37EA9"/>
        <w:rsid w:val="00F45C92"/>
        <w:rsid w:val="00F46350"/>
        <w:rsid w:val="00F61453"/>
        <w:rsid w:val="00F7143D"/>
        <w:rsid w:val="00F7351C"/>
        <w:rsid w:val="00F935F7"/>
        <w:rsid w:val="00FA52F3"/>
        <w:rsid w:val="00FB5C16"/>
        <w:rsid w:val="00FB5D02"/>
        <w:rsid w:val="00FC2BCF"/>
        <w:rsid w:val="00FE32D5"/>
        <w:rsid w:val="00FF4178"/>
    </w:rsids>
    <m:mathPr>
        <m:mathFont m:val="Cambria Math"/>
        <m:brkBin m:val="before"/>
        <m:brkBinSub m:val="--"/>
        <m:smallFrac m:val="off"/>
        <m:dispDef/>
        <m:lMargin m:val="0"/>
        <m:rMargin m:val="0"/>
        <m:defJc m:val="centerGroup"/>
        <m:wrapIndent m:val="1440"/>
        <m:intLim m:val="subSup"/>
        <m:naryLim m:val="undOvr"/>
    </m:mathPr>
    <w:themeFontLang w:val="ru-RU"/>
    <w:clrSchemeMapping w:bg1="light1" w:t1="dark1" w:bg2="light2" w:t2="dark2" w:accent1="accent1" w:accent2="accent2"
                        w:accent3="accent3" w:accent4="accent4" w:accent5="accent5" w:accent6="accent6"
                        w:hyperlink="hyperlink" w:followedHyperlink="followedHyperlink"/>
    <w:shapeDefaults>
        <o:shapedefaults v:ext="edit" spidmax="15362"/>
        <o:shapelayout v:ext="edit">
            <o:idmap v:ext="edit" data="1"/>
        </o:shapelayout>
    </w:shapeDefaults>
    <w:decimalSymbol w:val=","/>
    <w:listSeparator w:val=";"/>
</w:settings>